.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Use viewport height for vertical centering */
}
.center-text {
    text-align: center;
}
.center-title .slds-card__header {
    text-align: center;
}
.scroll-container {
    height: 800px;
    overflow-y: auto;
     /* Add additional space to the right */
}
.custom-width {
    width: 100%; /* Adjust the width as needed */
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
}

.column {
    flex: 1;
    padding: 50px;
}